<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home</title>

  <!-- CSS Link -->
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Bootstrap Link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <!-- icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
  <!-- Navbar -->
  <section id="navbar" class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
      <div class="container-fluid">
        <button class="navbar-toggler mobileViewButton" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="true"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse d-lg-flex collapse justify-content-between text-center" id="navbarsExample11">
          <a class="navbar-brand col-lg-3 me-0 webViewPosition" href="#">
            <img class=" ms-3"
              src="https://d2lk14jtvqry1q.cloudfront.net/media/large_Amity_University_Gwalior_78aefe4de2_8e7fa48b12.png"
              alt="logo" width="200px" height="50px" />
          </a>
          <ul  class="navbar-nav col-lg-6 justify-content-lg-end me-3">
            <li class="nav-item my-auto">
              <a style="font-weight: bold;" class="nav-link active text-dark  me-3" aria-current="page" href="/home">HOME</a>
            </li>
            <li class="nav-item my-auto">
              <a style="font-weight: bold;" class="nav-link text-dark me-3" href="/about">ABOUT</a>
            </li>
            <li class="nav-item my-auto">
              <a style="font-weight: bold;" class="nav-link text-dark me-3" href="/contact">CONTACT</a>
            </li>
            <li class="nav-item my-auto">
              <a style="font-weight: bold;" class="nav-link text-dark me-3" href="">
                <%= n %>
              </a>
            </li>
            <li style="font-weight: bold;" class="nav-item dropdown my-auto me-3">
              <a href="#" class="nav-link d-block link-body-emphasis text-decoration-none dropdown-toggle text-dark"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="<%= i.url %>" alt="mdo" width="40" height="40" class="rounded-circle" />
              </a>
              <ul class="dropdown-menu text-small">
                <!-- <li><a class="dropdown-item" href="">New project...</a></li>
                  <li><a class="dropdown-item" href="">Settings</a></li> -->
                <li><a style="font-weight: bold;" class="dropdown-item" href="/profile">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><a style="font-weight: bold;" class="dropdown-item" href="/logout">Log out</a></li>
              </ul>
            </li>
            <li class="nav-item my-auto">
              <a style="font-weight: bold; " href="/logout">
                <button style="background-color: rgb(51, 51, 140); color:yellow" class="btn btn-primary me-3 border-light">
                  Log out
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!-- End Navbar -->
</body>

</html>